<%- include('partials/header') -%> 

<section id="input-section">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title-text">Chesst</h1>
            <img src="chesstIcon.png" alt="" class="title-img">
            <br>
            <a target="_blank" href="https://lichess.org/training/daily" class="lichess-puzzle" rel="noopener noreferrer"><h6><i class="far fa-hand-point-right" > </i> Click for Daily Lichess Puzzle</h6></a>
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <form action="/" method="post" class="">
                    <div class="form-group">
                        <label for="">Game Title</label>
                        <input type="text" name="title" id="" class="form-control" autocomplete="off" placeholder="Name the game">
                        <label for="">Game Link</label>
                        <input name="link" class="form-control" autocomplete="off" placeholder="eg. https://lichess.org/YlZfgDfs">
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-block add">Add</button>
                </form>
            </div>
        </div>
    </div>
    
    
</section>

<section id="games-section">
    <div class="row">
        <% games.forEach(function(game){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"><%= game.title %></h1>
                    </div>
                    <div class="card-body">
                        <form action="/delete" method="post">
                            <img src="chesstIcon2.png" alt="" class="">
                            <a target="_blank" href="<%= game.link %>"><h5><%= game.link %></h5></a>
                            <button type="submit" name="removeButton" value="<%= game.link %>" class="btn btn-dark btn-lg btn-block">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</section>

<%- include('partials/footer') -%> 